.navbar {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  font-size: 18px;
  color: #49557e;
}

.navbar .active {
  padding-bottom: 1px;
  border-bottom: 2px solid tomato;
}

.navbar-menu li {
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar-right button {
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid tomato;
  cursor: pointer;
  transition: 0.3s;
}

.navbar-right button:hover {
  background-color: #fff4f2;
}

.basket {
  position: relative;
  cursor: pointer;
}

.basket .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  border-radius: 5px;
  background-color: tomato;
  top: -8px;
  right: -8px;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }
  .navbar-right {
    gap: 15px;
  }

  .navbar-right button {
    padding: 10px 20px;
    font-size: 16px;
  }
}
